.jumbotron {
    background-image: url("../img/banniere.jpg");
    color: white;
    text-shadow: 2px 2px 2px black;
    h1 {
        text-align: center;
        margin-top: 30px;
    }
}

.navbar-brand > img {
    width: 50px;
    height: auto;
}

h1.mt-2 {
    text-align: center;
}

img.rounded {
    max-width: 100%;
}

.col-md-6.col-sm-6 {
    margin-left: 3%;
}

table {
    max-width: 95%;
  }

table tbody td a {
    text-decoration: none;
    color: #000;
}

tbody tr:hover {
    background: black;
    color: white;
    a {
        background: black;
        color: white;
    }
}

.col-sm-3 p {
    font-size: 20px;
}

.col-sm-4 h3, .col-sm-4 ul, .col-sm-4 p {
    text-align: center;
}

.col-sm-4 ul {
    list-style: none;
}

p, .col-sm-4>ul, figcaption, .annecdote {
    font-size: 20px;
    color: green;
  }
  
.saison {
    margin : 2%;
}

.ligne {
    visibility: hidden;
  }

.img-thumbnail {
    width: 250px;
    height: 250px;
    
}

#imageSerie {
    float: right;
}

#generique {
    float: left;
    
}

.annecdote, .offset-sm-1>p {
    max-width: 90%;
}

caption { 
    caption-side: top;
    
  }

// @media only screen and (max-width : 950px) {
//     #imageSerie {
//         float: left;
//        max-width: 100%;
//     }
// }
@media only screen and (max-width : 768px) {
  
    #imageSerie {
      margin-left: 2%;
    }
    
    .img-thumbnail {
      width: 150px !important;
      height: 150px !important;
      
    }
    
    iframe {
      max-width: 90%;
      max-height: auto;
    }
    
    p {
      font-size: 30px;
      
    }
  
    th, td {
      font-size: 20px;
    }

    .annecdote li {
        font-size: 30px;
        max-width: 100%;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .ligne {
      visibility: visible;
    }
    
    p {
      font-size: 22px;
      
    }
  
    th{
      font-size: 18px;
    }

    .annecdote li {
        
        font-size: 22px;
        max-width: 100%;
    }
  }


